body { background: gray;}

background 
{
    background: white;
    width: 960px;
    height: 1800px;

}
main {background: white;
    width: 960px;
    height: 600px;
    margin: 20px;
color: gray;
font-family: georgia;}

div  {margin: 50px;
padding: 20px;}
/*
section 
{position: relative;
    background: gray;
width: 200px;
margin: 20px;
height: 100px;
top: -200px;
color: white;}
*/
li {margin: 15px;}